#map-container {
    height: 76vh;
    /* overflow: hidden; */
}

#map {
    height: 100%;
}

#countdown-overlay {
    position:absolute;
    display:table;
    top:0px;
    left:0px;
    z-index:99;
    background-color:rgba(255,255,255,0.5);
    opacity: 0.7;
    width:100%;
    height:100%;
}

#countdown-overlay .overlay-middle {
    vertical-align:middle;
    display:table-cell;
}

@media (max-width: 768px){
    #map-container {
        height: auto;
    }

    #map {
        height: 76vh;
    }

    #countdown-overlay {
        position: static;
        height: auto;
        opacity: 1.0;
    }
}